<div class="content-wrapper flex-grow bg-white dark:bg-dark-900 overflow-auto">
  <section class="static bg-bg-blog min-h-80 bg-center object-cover bg-cover bg-no-repeat">
    <div
      class="overlay ion-padding backdrop-blur-lg bg-gradient-to-tr from-wr-500/70 via-bo-400/70 to-br-500/70 h-80 flex flex-col items-center justify-center gap-5">
      <div class="flex flex-col md:flex-col lg:flex-col gap-2 md:gap-0 lg:gap-0">
        <h1 class="!font-bold !m-0 text-sm text-center md:text-xl lg:text-2xl text-white">{{domain}} Event:</h1>
        <h1
          class="!font-normal !m-0 md:!font-bold lg:!font-bold !text-base text-center !leading-8 lg:xl:leading-3 md:text-xl lg:text-2xl text-white">
          Insights, Tips, and Stories</h1>
      </div>
      <p class="text-sm text-white w-[80%] text-justify mx-auto">
        Welcome to our matrimony blog! Here, we share valuable insights, relationship tips, and heartwarming stories to
        help you on your journey to finding your life partner. Whether you’re a soon-to-be bride, groom, or a family
        member supporting someone in their search, our blog covers it all.
      </p>
    </div>
  </section>
  <section class="ion-padding">
    <div class="header py-3 my-3">
      <h1 class="block text-center">
        Events
      </h1>
    </div>
    @if (eventList.length) {
    <div class="blogs-container">
      <ul lines="none" class="bg-inherit grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-5">
        @for (item of eventList; track $index) {
        <li (click)="handleEventItemClick(item)" class="bg-white cursor-pointer hover:bg-gray-50 flex flex-col h-80
  ">
          <div class="image-container flex-auto h-60 max-h-60">
            <img class="object-fill w-full h-full" [src]="getImagePath(item)" alt="">
          </div>
          <div class="blog-content flex-auto p-3">
            <div class="header w-full flex flex-col items-start justify-between py-2 gap-1">
              <h2 class="!m-0 blog-title !text-base">
                {{item?.eventName}}
              </h2>
            </div>
            <div class="blog-content py-1 flex flex-col gap-2 items-start justify-center">
              <div [innerHTML]="extractPlainTextFromRichText(item?.eventDescription)" class="text-xs text-gray-500">
              </div>

              <span class="text-sm text-wr-600 select-none cursor-pointer hover:border-b hover:border-b-wr-600">
                Read More
              </span>
            </div>
          </div>
        </li>
        }
      </ul>
    </div>
    } @else {
    <p>Loading...</p>
    }
  </section>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>