<div class="personal-info-container h-full flex flex-col gap-5 items-center justify-center md:lg:ion-padding">
  <div class="form-wrapper w-full flex-auto overflow-auto">
    @if (isDataAvailable) {
    <form [formGroup]="formGroup" class="form-container w-full flex-auto overflow-auto md:lg:p-4"
      [ngClass]="isDataAvailable ? 'transition-opacity delay-200 opacity-100' : 'opacity-0'">
      <div
        class="flex flex-col lg:grid gap-3 md:gap-4 lg:gap-5 grid-cols-1 md:grid-cols-1 sm:grid-cols-1 lg:grid-cols-4 xl:grid-cols-4">
        <!-- <app-dropdown label="Contact Of" class="" [control]="formGroupControl['contactOf']" formControlName="contactOf"
        [options]="[]" /> -->

        <app-input label="Contact Number" [controlValue]="formGroup.get('contactNumber')?.value" class="flex-grow"
          type="number" [control]="formGroupControl['contactNumber']" formControlName="contactNumber" />

        <app-input label="WhatsApp Number" class="flex-grow" type="number"
          [controlValue]="formGroup.get('whatsUpNumber')?.value" [control]="formGroupControl['whatsUpNumber']"
          formControlName="whatsUpNumber" />

        <app-input label="Email" class="flex-grow" [mandatory]="false" type="email" [controlValue]="formGroup.get('emailId')?.value"
          [control]="formGroupControl['emailId']" formControlName="emailId" />

        @if (countryList.length) {
        <app-dropdown label="Country" class="" [control]="formGroupControl['countryId']"
          [controlValue]="formGroup.get('countryId')?.value"
          (onSelectionChange)="onSelectionChange($event, 'countryId')" formControlName="countryId"
          [options]="countryList" />
        }

        @if (stateList.length) {
        <app-dropdown label="State" class="" [control]="formGroupControl['stateId']" formControlName="stateId"
          [controlValue]="formGroup.get('stateId')?.value" (onSelectionChange)="onSelectionChange($event, 'stateId')"
          [options]="stateList" />
        }

        @if (cityList.length) {
        <app-dropdown label="City" class="" [control]="formGroupControl['cityId']" formControlName="cityId"
          [controlValue]="formGroup.get('cityId')?.value" (onSelectionChange)="onSelectionChange($event, 'cityId')"
          [options]="cityList" />
        }

        <app-input label="Home Address" class="col-span-3 lg:col-span-4" type="text"
          [control]="formGroupControl['homeAddress']" [controlValue]="formGroup.get('homeAddress')?.value"
          formControlName="homeAddress" [isMultiline]=true />
      </div>
    </form>
    } @else {
    <div class="h-28 w-full p-3 flex items-center justify-center">
      <i class="pi pi-spin pi-spinner" style="font-size: 2.5rem"></i>
    </div>
    }
  </div>

  <div class="action w-full h-full flex items-center justify-center sm:justify-end gap-5 py-2 px-7">
    <!-- <mt-button title="Cancel" [disabled]="formGroup.invalid" [isCancel]="true" (action)="handleCancelAction()" /> -->
    <mt-button [disabled]="formGroup.invalid" title="Save" icon="pi pi-save" (action)="handleClickOnNext()" />
  </div>
</div>