<div class="photos-container md:lg:h-full flex flex-col items-start justify-center md:lg:ion-padding">
  <form class="form-container w-full flex-auto overflow-auto md:lg:p-4">
    <div
      class="flex flex-col lg:grid gap-3 md:gap-4 lg:gap-5 grid-cols-1 md:grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2">
      @if(isEditMode){
        <image-picker *ngIf="imageName" [src]="thumbnailImage" [fileName]="imageName"
        (selectedImage)="handleSelectedImage($event, 'thumbnail')" label="Thumbnail" />

        <image-picker *ngIf="photoName" [src]="photo1" [fileName]="photoName" (selectedImage)="handleSelectedImage($event, 'photo')"
        label="Photo 1" />
      }
      @else{
        <image-picker [src]="thumbnailImage" [fileName]="imageName"
        (selectedImage)="handleSelectedImage($event, 'thumbnail')" label="Thumbnail" />

        <image-picker [src]="photo1" [fileName]="photoName" (selectedImage)="handleSelectedImage($event, 'photo')"
        label="Photo 1" />
      }
     
    </div>
  </form>
  <div class="action w-full h-full flex items-center justify-center sm:justify-end gap-5 py-2 px-7">
    <!-- <mt-button title="Cancel" [isCancel]="true" (action)="handleCancelAction()" /> -->
    <mt-button title="Save" icon="pi pi-save" [disabled]="imageData.length !== 2"
      (action)="handleClickOnNext()" />
  </div>
</div>