<ion-header *ngIf="isMobile" [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="content flex flex-col h-full w-full">
    <section class="register flex-grow">
      <div class="container relative col-span-2 py-10 flex flex-row flex-wrap gap-4 w-full px-10">
        <div class="w-full md:w-2/3 flex flex-col gap-4 max-w-2xl">
          <h1 class="h1-gradient">
            Contact Us
          </h1>
          <ul class="flex flex-col gap-3">
            <li>
              <p><span class="email-label">Email: </span>contact&#64;susangam.com</p>
            </li>
            <li>
              <p><span class="contact-label">Contact No: </span>9356989643</p>
            </li>
            <li>
              <p class="flex flex-col gap-2 sm:flex-row"><span class="address-label">Address:</span> Susangam Matrimony, 
                C/O - Cherry Spray School, 
                Next to Welcome Hall, 
                Kondhwa Khurd
                Pune-411048</p>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <div class="footer">
      <app-footer></app-footer>
    </div>
  </div>
</ion-content>
