.container {
    max-width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: none;
        margin: 0 auto;
    }
}

section._register {

    p.about {
        @apply text-left font-normal text-base leading-5;
    }

    p {
        font-size: 16px;
        color: black;
    }

    ul {
        @apply ml-5;

        li {
            @apply text-sm my-2;
            position: relative;
            list-style-type: none;
            text-align: justify;  
        }
    }
}

.email-label,
.contact-label,
.address-label {
    font-size: 18px;
    font-weight: bold;
}
