<div class="w-full p-4 relative h-full">
  <div class="item-container rounded-md flex flex-col shadow-md">
    <div class="image-container relative max-h-52 flex-auto rounded-t-md">
      <img class="w-full h-60 rounded-t-md object-fill object-center" [src]="imagePath" [alt]="data?.customerId" />
      <div class="absolute inset-0 w-full rounded-t-md max-h-60 h-full
      bg-dark-700/70 flex items-start justify-end p-4 z-10">
        <span class="cursor-pointer text-white !text-2xl" (click)="handleIsFavourite()"
        [ngClass]="isFavourite ? 'pi pi-heart-fill' : 'pi pi-heart'"></span>
      </div>
      <div
        class="user-title z-20 h-28 absolute top-2/4 left-2/4 transform -translate-x-1/2 -translate-y-1/2 inset-0 w-full flex items-center justify-center rounded-s-lg fill-current text-white ">
        <h1 class="text-sm md:text-sm lg:text-base xl:text-lg">
          {{data?.fullName}}
        </h1>
      </div>
    </div>
    <div class="text-container flex-auto flex flex-col gap-2 min-h-12 p-4 border-b border-b-gray-100">
      <div class="info flex flex-col gap-2">
        <div class="flex flex-col items-start justify-start">
          <p class="text-label opacity-80 select-none">Full Name</p>
          <p class="text-data select-none">{{data?.fullName}}</p>
        </div>
        <div class="flex flex-col items-start justify-start">
          <p class="text-label opacity-80 select-none">Address</p>
          <p class="text-data select-none">{{data?.fullName}}</p>
        </div>
      </div>
      <div class="link">
        <p class="flex items-baseline text-xs text-wr-600 hover:text-wr-900 focus:text-wr-900 cursor-pointer" (click)="handleProfileClick()">
          <span>Learn more about this profile</span>
          <span class="text-xs ml-1">&#x279c;</span>
        </p>
      </div>
    </div>
    <div class="audit-info flex items-center justify-between py-2 px-5 flex-none h-10 rounded-b-md">
      <span></span>
      <p>#{{data?.customerId}}</p>
    </div>
  </div>