::ng-deep ion-note {
    @apply h-full flex items-center justify-center;
}

::ng-deep ion-list {
    @apply bg-transparent;
}

.p-dialog-header-icon {
    margin: 0 5px;
    cursor: pointer;
  }
  
  .p-dialog-header-icons .pi-bars {
    font-size: 1.5rem;
  }

  .hamburgerButtonStyle {
    @apply flex items-center gap-2;
  }