<div class="mobile-layout md:hidden lg:hidden xl:hidden 2xl:hidden">
  <p-messages></p-messages>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      @for (item of tabs; track item.id) {
      <ion-tab-button [tab]="item.route" (click)="navigateToPage(item)" [ngClass]="item.isActive ? 'tab-selected' : ''">
        <fa-icon class="text-2xl" [icon]="item.icon"></fa-icon>
        <ion-label>{{item.title}}</ion-label>
      </ion-tab-button>
      }
    </ion-tab-bar>
  </ion-tabs>
</div>

<div *ngIf="isDesktopMode" class="desktop-layout hidden md:flex lg:flex flex-col min-h-screen">
  <ion-content class="flex-grow bg-slate-300">
    <ion-router-outlet class="h-full" id="desktop-content"></ion-router-outlet>
  </ion-content>
</div>