<div class="mobile-layout md:hidden lg:hidden xl:hidden 2xl:hidden">
  <p-messages></p-messages>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      @for (item of tabs; track item.id) {
      <ion-tab-button [tab]="item.route" (click)="navigateToPage(item)" [ngClass]="item.isActive ? 'tab-selected' : ''">
        <fa-icon class="text-2xl" [icon]="item.icon"></fa-icon>
        <ion-label>{{item.title}}</ion-label>
      </ion-tab-button>
      }
    </ion-tab-bar>
  </ion-tabs>
</div>

<div *ngIf="isDesktopMode" class="desktop-layout hidden md:flex lg:flex flex-col min-h-screen">
  <p-menubar>
    <ng-template pTemplate="start">
      <img (click)="redirectToHome()" src="/assets/icon/logo.png" class="h-full w-full object-fill cursor-pointer"
        alt="Logo" (error)="handleLogoLoadError($event)" />
    </ng-template>
    <ng-template pTemplate="end">
      @for (item of menuItems; track item.id) {
      <ion-button class="px-2" [ngClass]="item.isActive ? 'active' : ''" (click)="navigateToPage(item)">
        <p class="m-0 flex items-center justify-start gap-2">
          <fa-icon [icon]="item.icon" />
          <span>{{item.title}}</span>
        </p>
      </ion-button>
      }
      @if (!isLoggedIn) {
      <ion-button (click)="navigateToLogin()">
        <p class="m-0 flex items-center justify-start gap-2">
          <fa-icon [icon]="loginIcon" />
          <span>Login</span>
        </p>
      </ion-button>
      } @else {
      <div class="protected-content flex items-center justify-start gap-3 ml-3">
        @if (notificationItems.length > 0) {
        <i class="badge pi pi-bell cursor-pointer" (click)="notificationPanel.toggle($event)" pBadge
          [value]="notificationItems.length.toString()"></i>
        }
        <p-menu #menu [model]="profileItems" [popup]="true" appendTo="body"></p-menu>
        <p-avatar (click)="menu.toggle($event)" class="flex items-end cursor-pointer"
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" styleClass="mr-2"
          shape="circle"></p-avatar>
      </div>
      }
    </ng-template>
  </p-menubar>
  <ion-content class="flex-grow bg-slate-300">
    <ion-router-outlet class="h-full" id="desktop-content"></ion-router-outlet>
  </ion-content>
</div>

<ng-container>
  <p-dialog [(visible)]="showLogoutModal" appendTo="body" [modal]="true" [closable]="false" [style]="{ width: '30vw' }"
    [draggable]="false" [resizable]="false">
    <div class="flex flex-col items-center justify-center h-full w-full gap-3">
      <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
      <p>
        Logging out, please waite...
      </p>
    </div>
  </p-dialog>
</ng-container>

<ng-container>
  <p-dialog #sessionExpired [header]="'Session Expired'" [(visible)]="showSessionExpiredDialog" appendTo="body"
    [modal]="true" [closable]="false" [style]="{ width: '33vw' }" [draggable]="false" [resizable]="false">
    <div class="flex flex-col items-center justify-center h-full w-full gap-4">
      <p class="select-none">
        Your session is expired, please login again to continue.
      </p>
      <div class="action w-full flex items-center justify-end">
        <mt-button title="Sign In" (action)="handleSignIn()" />
      </div>
    </div>
  </p-dialog>
</ng-container>

<p-overlayPanel #notificationPanel appendTo="body">
  <ng-template pTemplate="content">
    <ul class="flex flex-col m-0">
      @for (item of notificationItems; track $index) {
      <li (click)="handleNotificationItemClick(item); notificationPanel.toggle($event)">
        <p class="flex flex-row items-center justify-start gap-3">
          <i [ngClass]="item?.icon"></i>
          {{item?.text}}
        </p>
      </li>
      }
    </ul>
  </ng-template>
</p-overlayPanel>