<div class="mobile-layout md:hidden lg:hidden xl:hidden 2xl:hidden">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      @for (item of tabs; track item.id) {
      <ion-tab-button [tab]="item.route" (click)="navigateToPage(item)"
        [ngClass]="item.isActive ? 'tab-selected' : ''">
        <fa-icon class="text-2xl" [icon]="item.icon"></fa-icon>
        <ion-label>{{item.title}}</ion-label>
      </ion-tab-button>
      }
    </ion-tab-bar>
  </ion-tabs>
</div>

<div class="desktop-layout hidden md:flex lg:flex flex-col min-h-screen">
  <ion-header [translucent]="true" class="max-h-14 ion-no-border" conte>
    <ion-toolbar>
      <ion-title slot="start" class="cursor-pointer" (click)="redirectToHome()">Wedding App</ion-title>
      <ion-buttons slot="end" class="gap-3">
        @for (item of menuItems; track item.id) {
        <ion-button [ngClass]="item.isActive ? 'active' : ''" (click)="navigateToPage(item)">
          <p class="m-0 flex items-center justify-start gap-3">
            <fa-icon [icon]="item.icon" />
            <span>{{item.title}}</span>
          </p>
        </ion-button>
        }
        <ion-button (click)="navigateToLogin()">
          <p class="m-0 flex items-center justify-start gap-3">
            <fa-icon [icon]="loginIcon" />
            <span>Login</span>
          </p>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="flex-grow bg-slate-300">
    @if(isDesktopMode) {
    <ion-router-outlet class="h-full" id="desktop-content"></ion-router-outlet>
    }
  </ion-content>
</div>