@media screen and (max-width: 640px) {
    .firstElement{
        padding: 8px 20px;
        display: none;
    }
    .itemContent{
        flex-direction: row;
        justify-content: flex-start;
        gap: 6px;
    }
    .itemContent > p:first-child::after {
        content: ":";
    }
    .itemImage{
        flex-direction: column;
        justify-content: unset;
    }
}
@media screen and (max-width: 576px) {
    ::ng-deep .p-toolbar {
        @apply flex-nowrap gap-0;
         h3 {
            font-size: 17px;
        }
    }
}
