<ion-header *ngIf="isMobile" [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="content flex flex-col h-full w-full">
    <section class="_register flex-grow">
      <div class="container relative col-span-2 py-10 flex flex-row gap-4 w-full px-10 mx-auto">
        <div class="cta_register flex flex-col items-start justify-start gap-4  max-w-5xl mx-auto">
          <p class="about tracking-widest uppercase">
            About Us
          </p>
          <h1>
            Welcome to {{domain}} Matrimony
          </h1>
          <p>
            About Vasundhara Social Foundation For an extensive period, the Vasundhara Social Foundation has been at the
            forefront of environmental, literary, and social endeavors. However, the very fabric of Mother nature faces
            threats from human greed. These adversaries, driven by insatiable desires, encroach upon nature, presenting
            an imposing facade of development to society. This peril grows more pronounced each day. Preserving Our
            Natural Heritage The existing systems, entrenched in their pursuit of short-term gains and development, fail
            to safeguard our environment. To address this, we must engage in serious introspection. How can we avert
            these dangers? It is imperative that we reimagine our approach. Only by constructing a new framework—one
            that prioritizes sustainability and harmonizes with nature—can we secure the longevity of human life. Let us
            invoke divine blessings as we continue this vital work, ensuring a safer and more resilient future for all.
          </p>
          <p>
            Here’s what our platform offers:
          </p>
          <ol>
            <li>
              <p>Profiles with all the details, from age to education. </p>
            </li>
            <li>
              <p>Easy navigation to explore effortlessly.</p>
            </li>
            <li>
              <p>Smart profile matching with the help of advace algorithm.</p>
            </li>
            <li>
              <p>Connecting is a breeze. You can send a friendly message or even a virtual high-five.</p>
            </li>
          </ol>
          @if (isLoggedIn) {
          <mt-button title="Explore Profiles" />
          } @else {
          <mt-button title="Register Now" (action)="handleRegister()" />
          }
        </div>
        <div class="content -z-[10] flex-grow w-full h-[inherit]">
          <div class="bars">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
          <div data-aos="fade-up-left" data-aos-easing="linear" data-aos-duration="3000"
            class="image-container border-white flex items-center justify-end h-full w-full rounded-full">
            <img src="/assets/icon/temp_bg.jpg" class="h-full w-[88%] object-fill rounded-full select-none"
              alt="Demo Image" />
          </div>
        </div>
      </div>
    </section>
    <div class="footer">
      <app-footer></app-footer>
    </div>
  </div>
</ion-content>