<ngx-loading-bar [includeSpinner]="false"></ngx-loading-bar>
<!-- <ng-http-loader [className]="'custom-loader'" [entryComponent]="loaderComponent" [filteredUrlPatterns]="['createcustomerToken']">
</ng-http-loader> -->
<app-alert></app-alert>
<ion-app>
  <div class="w-full" *ngIf="isDesktopMode" [ngClass]="{'hidden': !shouldShowHeader}">
    <app-header />
  </div>
  <ion-router-outlet [ngClass]="{'!mt-16': shouldShowHeader}"></ion-router-outlet>
  <!-- <router-outlet></router-outlet> -->
</ion-app>

<!-- [filteredUrlPatterns]="['\\d', '[a-zA-Z]', 'createcustomerToken']" -->