<ion-header *ngIf="isMobile" [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="content h-full w-full">
    <section class="_register flex w-full h-full">
      <div class="container flex flex-row gap-4 mx-auto">
        <ngx-doc-viewer
        [url]="'https://docs.google.com/document/d/1777LNuN8UW_H60QvAhb_8O0SgkefIU8J/preview'"
        viewer="url"
        class="h-full w-full"
      >
      </ngx-doc-viewer>
      </div>
    </section>
    <div class="footer">
      <app-footer></app-footer>
    </div>
  </div>
</ion-content>