<div class="min-h-12 px-3 md:p-4 lg:xl:px-10 dark:bg-dark-950 flex flex-col gap-0 lg:xl:gap-2">
  <div class="header">
    <h1 class="h1-gradient text-center">
      Most Trusted Matrimonial Service in India
    </h1>
  </div>

  <div class="criteria py-4">
    <form [formGroup]="formGroup">
      <div class="flex flex-col justify-center items-center gap-4">
        <div
          class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-3 md:gap-4 lg:items-end lg:justify-center">
          <app-dropdown *ngIf="!isLoggedIn" label="Looking For" [control]="formGroupControl['gender']" formControlName="gender"
            (onSelectionChange)="onSelectionChange($event, 'gender')" [controlValue]="formGroup.get('gender')?.value"
            [options]="genderOptions" class="flex-auto" />

          <app-input label="Age From" type="number" labelColor="text-gray-700"
            [controlValue]="formGroup.get('fromAge')?.value" [control]="formGroupControl['fromAge']"
            formControlName="fromAge" class="flex-auto" />

          <app-input label="Age To" type="number" labelColor="text-gray-700"
            [controlValue]="formGroup.get('toAge')?.value" [control]="formGroupControl['toAge']" formControlName="toAge"
            class="flex-auto" />

            @if (religionListOptions.length) {
              <app-dropdown label="Religion" [control]="formGroupControl['religionId']" formControlName="religionId"
                (onSelectionChange)="onSelectionChange($event, 'religionId')" [options]="religionListOptions" />
              }
      
              @if (castListOptions.length) {
              <app-dropdown label="Cast" [control]="formGroupControl['cast']" formControlName="cast"
                 (onSelectionChange)="onSelectionChange($event, 'cast')"
                [options]="castListOptions" class="flex-auto" />
              }
      
              @if (hasSubCast && subCastListOptions.length && isSubCastDataAvailable) {
              <app-dropdown label="Sub Cast" [control]="formGroupControl['subCast']"
                 formControlName="subCast"
                (onSelectionChange)="onSelectionChange($event, 'subCast')" [options]="subCastListOptions"
                class="flex-auto" />
              }

          <app-dropdown *ngIf="isLoggedIn"  label="Marital Status" [control]="formGroupControl['maritalStatus']"
            formControlName="maritalStatus" [options]="maritalStatusOptions"
            (onSelectionChange)="onSelectionChange($event, 'maritalStatus')" class="w-full" />

          <app-dropdown *ngIf="isLoggedIn" label="Mother Tongue" [control]="formGroupControl['motherTongue']"
            formControlName="motherTongue" (onSelectionChange)="onSelectionChange($event, 'motherTongueId')"
            [options]="motherToungeList" class="flex-auto" />

          @if (countryList.length) {
          <app-dropdown *ngIf="isLoggedIn" label="Country" class="w-full" [control]="formGroupControl['countryId']"
            [controlValue]="formGroup.get('countryId')?.value"
            (onSelectionChange)="onSelectionChange($event, 'countryId')" formControlName="countryId"
            [options]="countryList" />
          }

          @if (stateList.length) {
          <app-dropdown label="State" class="w-full" [control]="formGroupControl['stateId']" formControlName="stateId"
            [controlValue]="formGroup.get('stateId')?.value" (onSelectionChange)="onSelectionChange($event, 'stateId')"
            [options]="stateList" />
          }

          @if (cityList.length) {
          <app-dropdown label="City" class="w-full" [control]="formGroupControl['cityId']" formControlName="cityId"
            [controlValue]="formGroup.get('cityId')?.value" (onSelectionChange)="onSelectionChange($event, 'cityId')"
            [options]="cityList" />
          }

        </div>
        <div class="h-full w-full mt-auto flex flex-auto xl:w-30 lg:w-36 md:w-36">
          <mt-button size="large" class="w-full"  title="Search" (action)="handleOnSearch()" />
        </div>
      </div>
    </form>
  </div>
</div>