section {
    .container {
        @apply w-[80%];
        margin: 40px auto;
    }
}

section.meet-members {
    h1 {
        @apply text-center m-0;
    }

    p {
        @apply text-center font-normal text-sm;
    }
}

section._register {

    p.about {
        @apply text-left font-normal text-base leading-5;
    }

    p {
        letter-spacing: 1px;
        font-size: 14px;
        color: black;
    }

    ol {
        @apply ml-5;

        li {
            @apply text-sm my-2;
            position: relative;
            list-style-type: none;
            text-align: justify;

            &::before {
                content: '';
                position: absolute;
                top: -2;
                left: -24px;
                width: 18px;
                height: 18px;
                background-image: url('/assets/icon/check.svg');
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    .content {
        @apply -z-[1] lg:z-[1] xl:z-[1] opacity-20 lg:xl:opacity-100;

        .bars {
            @apply flex flex-col justify-center gap-3 rotate-[150deg] h-full w-[90%] lg:xl:w-[50%] absolute top-0 right-0 lg:xl:-top-4 lg:xl:-right-7 bottom-0 z-[1];
            will-change: auto;
            animation: shake 45s linear infinite;

            .bar1 {
                @apply h-8 bg-gradient-to-r from-red-500 to-orange-500 rounded-full;
                background-size: 400% 400%;
                animation: gradient 15s ease infinite;
            }

            .bar2 {
                @apply h-28 bg-gradient-to-r from-rose-400 to-red-500 rounded-full;
                background-size: 400% 400%;
                animation: gradient 15s ease infinite;
            }

            .bar3 {
                @apply h-6 bg-gradient-to-r from-pink-500 to-rose-500 rounded-full;
                background-size: 400% 400%;
                animation: gradient 15s ease infinite;
            }
        }

        .image-container {
            @apply z-10 relative hidden md:hidden border-white lg:flex xl:flex items-center justify-end h-full w-full rounded-full;

            img {
                @apply shadow-2xl;
                border: 15px solid #fff;
            }
        }
    }
}


section._counter {
    @apply text-8xl font-bold text-black;
}

.active {
    @apply bg-wr-600 transition-transform -translate-y-1;
}

@keyframes shake {
    0% {
        transform: rotate(145deg);
    }

    25% {
        transform: rotate(150deg);

    }

    50% {
        transform: rotate(155deg);
    }

    75% {
        transform: rotate(150deg);
    }

    100% {
        transform: rotate(145deg);

    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.content-wrapper {
    @apply relative w-screen flex flex-col;

    section.video {
        @apply sticky h-[60vh] lg:xl:h-[calc(100vh-70px)] lg:xl:min-h-[calc(100vh-70px)] w-screen top-0 bottom-0;
        background-attachment: fixed;

        video {
            @apply h-full w-full -z-10 object-fill;
        }

        .overlay {
            @apply absolute top-0 bottom-0 h-[60vh] lg:xl:h-[calc(100vh-70px)] lg:xl:min-h-[calc(100vh-70px)] w-screen flex items-end justify-center bg-black/50;

            .marquee-text {
                @apply flex gap-8 w-full items-end justify-center flex-nowrap absolute top-0 bottom-5 lg:xl:bottom-8 whitespace-nowrap overflow-hidden;

                p {
                    @apply text-base md:lg:text-2xl text-white font-bold flex-grow text-center my-2 mx-5;
                    display: inline-block;
                    position: relative;
                    will-change: auto;
                }
            }
        }
    }

    .flat-items {
        @apply bg-gray-50 z-20;
    }

}

::ng-deep canvas {
    height: 10rem;
    width: 100%;
    z-index: -1;
    // font-style: ;
}

::ng-deep .offer-dialog {
    .p-dialog-content {
        @apply p-0 rounded-lg;
    }
}

::ng-deep .offer-section {
    @apply absolute top-[67%] w-[130px];

    .p-button {
        @apply bg-gradient-to-br from-[#63A4FF] to-[#83EAF1];
        transition: all 0.3s ease-in-out;

        &:hover {
            @apply bg-gradient-to-tl;
        }
    }
}

@media (max-width: 936px) {
    .image-container img {
        display: none;
        /* Hides the image on mobile devices */
    }
}