section {
    .container {
        margin: 40px auto;
    }
}

section.meet-members {
    h1 {
        @apply text-center font-bold text-base md:lg:text-4xl my-2;
    }

    p {
        @apply text-center font-normal text-sm;
    }
}

section._register {
    h1 {
        @apply font-bold text-base md:lg:text-4xl m-0;
        background: rgb(247, 0, 104);
        background: -moz-linear-gradient(to left, rgba(247, 0, 104, 1) 0%, rgba(68, 16, 102, 1) 25%, rgba(247, 0, 104, 1) 75%, rgba(68, 16, 102, 1) 100%);
        background: -webkit-linear-gradient(to left, rgba(247, 0, 104, 1) 0%, rgba(68, 16, 102, 1) 25%, rgba(247, 0, 104, 1) 75%, rgba(68, 16, 102, 1) 100%);
        background: linear-gradient(to left, rgba(247, 0, 104) 0%, rgba(68, 16, 102, 1) 25%, rgba(247, 0, 104, 1) 75%, rgba(68, 16, 102, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F70068', endColorstr='#441066', GradientType=1);
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p.about {
        @apply text-left font-normal text-base leading-3;

        position: relative;
        display: block;
        font-size: 16px;
        line-height: 1em;
        color: #ff8a01;
        font-weight: 500;
        background: rgb(247, 0, 104);
        background: -moz-linear-gradient(to left, rgba(247, 0, 104, 1) 0%, rgba(68, 16, 102, 1) 25%, rgba(247, 0, 104, 1) 75%, rgba(68, 16, 102, 1) 100%);
        background: -webkit-linear-gradient(to left, rgba(247, 0, 104, 1) 0%, rgba(68, 16, 102, 1) 25%, rgba(247, 0, 104, 1) 75%, rgba(68, 16, 102, 1) 100%);
        background: linear-gradient(to left, rgba(247, 0, 104) 0%, rgba(68, 16, 102, 1) 25%, rgba(247, 0, 104, 1) 75%, rgba(68, 16, 102, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F70068', endColorstr='#441066', GradientType=1);
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    p {
        letter-spacing: 1px;
        font-size: 14px;
        color: black;
    }

    ol {
        @apply ml-5;

        li {
            @apply text-sm my-2;
            position: relative;
            list-style-type: none;
            text-align: justify;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -20px;
                width: 18px;
                height: 18px;
                background-image: url('/assets/icon/check.svg');
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    .content {
        @apply z-0;
        .bars {
            @apply flex flex-col justify-center gap-3 rotate-[150deg] h-full w-[50%] absolute top-0 right-0 bottom-0 z-[1];
            will-change: auto;
            animation: shake 45s linear infinite;

            .bar1 {
                @apply h-8 bg-gradient-to-r from-red-500 to-orange-500 rounded-full;
                background-size: 400% 400%;
                animation: gradient 15s ease infinite;
            }

            .bar2 {
                @apply h-28 bg-gradient-to-r from-rose-400 to-red-500 rounded-full;
                background-size: 400% 400%;
                animation: gradient 15s ease infinite;
            }

            .bar3 {
                @apply h-6 bg-gradient-to-r from-pink-500 to-rose-500 rounded-full;
                background-size: 400% 400%;
                animation: gradient 15s ease infinite;
            }
        }

        .image-container {
            @apply flex z-10 relative;
            img {
                @apply shadow-2xl;
                border: 15px solid #fff;
            }
        }
    }
}

section._counter {
    @apply text-8xl font-bold text-black;
}

section._features {
    h1 {
        @apply font-bold text-base md:lg:text-4xl m-0;
        background: rgb(247, 0, 104);
        background: -moz-linear-gradient(to left, rgba(247, 0, 104, 1) 0%, rgba(68, 16, 102, 1) 25%, rgba(247, 0, 104, 1) 75%, rgba(68, 16, 102, 1) 100%);
        background: -webkit-linear-gradient(to left, rgba(247, 0, 104, 1) 0%, rgba(68, 16, 102, 1) 25%, rgba(247, 0, 104, 1) 75%, rgba(68, 16, 102, 1) 100%);
        background: linear-gradient(to left, rgba(247, 0, 104) 0%, rgba(68, 16, 102, 1) 25%, rgba(247, 0, 104, 1) 75%, rgba(68, 16, 102, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F70068', endColorstr='#441066', GradientType=1);
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


.marquee:hover span {
    animation-play-state: paused;
}

.marquee span:nth-child(1) {
    animation-delay: 0s;
}

.marquee span:nth-child(2) {
    animation-delay: 0.5s;
}

.marquee span:nth-child(3) {
    animation-delay: 1s;
}

.marquee span:nth-child(4) {
    animation-delay: 1.5;
}

.marquee span:nth-child(5) {
    animation-delay: 2s;
}

.marquee span:nth-child(6) {
    animation-delay: 2.5s;
}

.marquee span:nth-child(7) {
    animation-delay: 3s;
}

.marquee span:nth-child(8) {
    animation-delay: 3.5s;
}

.marquee span:nth-child(9) {
    animation-delay: 4;
}

.marquee span:nth-child(10) {
    animation-delay: 4.5s;
}

.marquee span:nth-child(11) {
    animation-delay: 5s;
}

.marquee span:nth-child(12) {
    animation-delay: 6.5s;
}

.marquee span:nth-child(13) {
    animation-delay: 7s;
}

.marquee span:nth-child(14) {
    animation-delay: 7.5s;
}

@keyframes marquee {
    0% {
        right: -100%;
    }

    100% {
        right: 100%;
    }
}

.active {
    @apply bg-wr-600 transition-transform -translate-y-1;
}

@keyframes shake {
    0% {
        transform: rotate(145deg);
    }

    25% {
        transform: rotate(150deg);

    }

    50% {
        transform: rotate(155deg);
    }

    75% {
        transform: rotate(150deg);
    }

    100% {
        transform: rotate(145deg);

    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.content-wrapper {
    @apply relative bg-gray-50 w-screen flex flex-col;

    section.video {
        @apply h-[calc(100vh-70px)] w-screen top-0 bottom-0;
        background-attachment: fixed;

        video {
            @apply h-full w-full -z-10 object-fill;
        }

        .overlay {
            @apply absolute top-0 bottom-0 h-[calc(100vh-70px)] w-full flex items-end justify-center bg-black/50;

            .marquee-text {
                @apply flex gap-8 w-full items-end justify-center flex-nowrap absolute top-0 bottom-10 whitespace-nowrap overflow-hidden;

                p {
                    @apply text-xs md:lg:text-2xl text-white font-bold flex-grow w-full text-center my-2;
                    white-space: nowrap;
                    display: inline-block;
                    position: relative;
                    will-change: auto;
                    animation: marquee 35s linear infinite;
                }
            }
        }
    }


}