<ion-header *ngIf="isMobile" [translucent]="true" class="md:lg:2xl:hidden ion-no-border">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-wrapper">
    <section class="video" [ngClass]="isVideoLoaded ? '' : 'flex items-center justify-center'">
      <video id="videoPlayer" autoplay muted loop playsInline (loadeddata)="handleOnLoadData($event)">
        <source src="/assets/videos/intro.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="overlay">
        <div class="marquee-text">
          <p>हृदयात् हृदयं यावत्</p>
          <p>दिल का दिल से</p>
          <p>Heart to Heart</p>
          <p>دل سے دل كا</p>
          <p>हृदय देखि हृदय सम्म</p>
          <p>হৃদয় থেকে হৃদয়</p>
          <p>இதயம் இதயத்திற்கு</p>
          <p>హృదయం నుంచి హృదయం</p>
          <p>ಹೃದಯದಿಂದ ಹೃದಯಕ್ಕೆ</p>
          <p>ഹൃദയം ഹൃദയത്തിനേക്ക്</p>
          <p>હૃદયથી હૃદયને</p>
          <p>ਦਿਲ ਤੋਂ ਦਿਲ</p>
          <p>ହୃଦୟ ହୃଦୟ</p>
          <p>تائين دل كاندل</p>
          <p>القلب إلى القلبمن</p>
        </div>
      </div>
    </section>
    <div class="flat-items flex flex-col gap-7 ">
      <section class="search-box">
        <div class="container ">
          <search-box class="w-full" />
        </div>
      </section>

      <section class="meet-members col-span-2 w-full">
        <div class="container">
          <div class="header">
            <h1 class="h1-gradient">
              Meet Our Members
            </h1>
            <p>
              The largest Matrimonial Website with 1 lakhs+ of Manglik profiles. Find Matches. Join FREE!
            </p>
          </div>
          <div class="member-list-container md:lg:p-5 flex items-start justify-center flex-wrap gap-5 relative">
            @if (profileList.length) {
            <carousel class="w-full" [slides]="profileList" />
            } @else {
            <i class="pi pi-spin pi-spinner" style="font-size: 2rem;"></i>
            }
          </div>
        </div>
      </section>

      <section class="_register ">
        <div class="container relative col-span-2 lg:xl:py-10 flex flex-row gap-0 lg:xl:gap-4 px-3 w-full lg:xl:px-10">
          <div class="cta_register flex flex-col items-start justify-start gap-4  max-w-5xl mx-auto">
            <p class="about p-gradient tracking-widest uppercase">
              About Us
            </p>
            <h1 class="h1-gradient">
              Welcome to {{domain}} Matrimony
            </h1>
            <p>
              Marriage, also known as matrimony or wedlock, is like a special bond that ties two people together.
              Imagine
              it
              as a magical connection where two hearts decide to walk through life side by side.
            </p>
            <p>
              Here’s what our platform offers:
            </p>
            <ol>
              <li>
                <p>Profiles with all the details, from age to education. </p>
              </li>
              <li>
                <p>Easy navigation to explore effortlessly.</p>
              </li>
              <li>
                <p>Smart profile matching with the help of advace algorithm.</p>
              </li>
              <li>
                <p>Connecting is a breeze. You can send a friendly message or even a virtual high-five.</p>
              </li>
            </ol>

            <mt-button title="Explore Profiles" (action)="handleExploreProfiles()" />
          </div>
          <div class="content -z-[10] flex-grow w-full h-[inherit]">
            <div class="bars">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </div>
            <div *ngIf="!isMobile" class="image-container">
              <img src="/assets/icon/temp_bg.jpg" class="h-full w-[88%] object-fill rounded-full" alt="Demo Image" />
            </div>
          </div>
        </div>
      </section>

      <!-- <section
        class="_counter bg-counter bg-no-repeat bg-center bg-cover object-fill flex items-center rounded-md justify-center min-h-96 ">
        <div class="overlay rounded-md bg-gray-50/90 backdrop-blur-sm min-h-96 w-full flex items-center justify-center">
          <div class="container h-full flex flex-row items-center justify-center gap-10">
            <div class="profiles text-center text-black">
              <tm-ng-odometer class="block w-full" [number]="profileCount" [config]="config"
                [observable]="observable"></tm-ng-odometer>
              <h1>Total Profiles</h1>
            </div>
            <div class="branches text-center text-black">
              <tm-ng-odometer class="block w-full" [number]="branchCount" [config]="config"
                [observable]="observable"></tm-ng-odometer>

              <h1>Total Branches</h1>
            </div>
          </div>
        </div>
      </section> -->

      <section class="_features flex items-center justify-center min-h-96">
        <div class="container flex items-center justify-center flex-wrap gap-5">
          <app-card></app-card>
        </div>
      </section>


      <div class="footer">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</ion-content>