::ng-deep .text-dark {
  color: #333;
  font-weight: 600 !important;
}

::ng-deep .status-width {
  max-width: fit-content;
}

.value {
  @apply text-xs;
}

@media screen and (max-width: 640px) {
  .itemContent {
    flex-direction: row;
    justify-content: flex-start;
    gap: 6px;
  }

  .itemContent>p:first-child::after {
    content: ":";
  }

  .itemImage {
    flex-direction: column;
    justify-content: unset;
  }
}

::ng-deep .history-avatar {
  // .p-avatar-image {
    height: 2.5rem !important;
    width: 2.5rem !important;
  // }
}