@if (isDataLoaded && !isLoading) {
<div class="user-info-container" id="userDataContainer">
  <div class="header">
    <h1>Bio Data</h1>
  </div>
  <div class="table">
    <div class="left w-1/5 h-[34rem] border-r flex-grow">
      <div class="wrapper">
        <div class="Photos">
          <h2 class="border-b border-gray-200">Photos</h2>
        </div>
        <ul class="m-0">
          <div class="flex flex-col items-center px-5 py-5 justify-center gap-4 w-full">
            @for (item of userInfo?.photos; track $index) {
            <li *ngIf="item?.value" class="border-none">
              <div class="image-container w-56 h-52">
                <img class="h-full w-full object-fill" [src]="getImageUrl(item)" alt="Image1" />
              </div>
            </li>
            }
          </div>
        </ul>
      </div>
    </div>
    <div class="right flex-grow overflow-auto h-[34rem]">
      <div class="wrapper">
        <div class="personal-info">
          <h2 class=" border-r border-gray-200">Personal Information</h2>
        </div>
        <ul class="m-0">
          @for (item of userInfo?.personalInfo; track $index) {
          <li *ngIf="item?.value">
            <p class="min-w-80 border-r border-gray-200">{{item?.title}}</p>
            <p>{{item?.value}}</p>
          </li>
          }
        </ul>
      </div>
      <div class="wrapper">
        <div class="family-info">
          <h2 class=" border-r border-gray-200">Family Information</h2>
        </div>
        <ul class="m-0">
          @for (item of userInfo?.familyInfo; track $index) {
          <li *ngIf="item?.value">
            <p class="min-w-80 border-r border-gray-200">{{item?.title}}</p>
            <p>{{item?.value}}</p>
          </li>
          }
        </ul>
      </div>
      <div class="wrapper">
        <div class="contact-info">
          <h2 class=" border-r border-gray-200">Contact Information</h2>
        </div>
        <ul class="m-0">
          @for (item of userInfo?.contactInfo; track $index) {
          <li *ngIf="item?.value">
            <p class="min-w-80 border-r border-gray-200">{{item?.title}}</p>
            <p>{{item?.value}}</p>
          </li>
          }
        </ul>
      </div>
      <div class="wrapper">
        <div class="other-info">
          <h2 class=" border-r border-gray-200">Other Information</h2>
        </div>
        <ul class="m-0">
          @for (item of userInfo?.otherInfo; track $index) {
          <li *ngIf="item?.value">
            <p class="min-w-80 border-r border-gray-200">{{item?.title}}</p>
            <p>{{item?.value}}</p>
          </li>
          }
        </ul>
      </div>
    </div>
  </div>
</div>
} @else {
<div class="h-full w-full p-3 flex items-center justify-center">
  <i class="pi pi-spin pi-spinner" style="font-size: 2.5rem"></i>
</div>
}