
@if (isDataLoaded && !isLoading) {
<div class="user-info-container" id="userDataContainer">
  <div class="header">
    <h1>Bio Data</h1>
  </div>
  <div class="table">
    <div class="wrapper">
      <div class="personal-info">
        <h2>Personal Information</h2>
      </div>
      <ul>
        @for (item of userInfo?.personalInfo; track $index) {
        <li *ngIf="item?.value">
          <p class="min-w-80">{{item?.title}}</p>
          <p>{{item?.value}}</p>
        </li>
        }
      </ul>
    </div>
    <div class="wrapper">
      <div class="family-info">
        <h2>Family Information</h2>
      </div>
      <ul>
        @for (item of userInfo?.familyInfo; track $index) {
        <li *ngIf="item?.value">
          <p class="min-w-80">{{item?.title}}</p>
          <p>{{item?.value}}</p>
        </li>
        }
      </ul>
    </div>
    <div class="wrapper">
      <div class="contact-info">
        <h2>Contact Information</h2>
      </div>
      <ul>
        @for (item of userInfo?.contactInfo; track $index) {
        <li *ngIf="item?.value">
          <p class="min-w-80">{{item?.title}}</p>
          <p>{{item?.value}}</p>
        </li>
        }
      </ul>
    </div>
    <div class="wrapper">
      <div class="other-info">
        <h2>Other Information</h2>
      </div>
      <ul>
        @for (item of userInfo?.otherInfo; track $index) {
        <li *ngIf="item?.value">
          <p class="min-w-80">{{item?.title}}</p>
          <p>{{item?.value}}</p>
        </li>
        }
      </ul>
    </div>
    <div class="wrapper">
      <div class="Photos">
        <h2>Photos</h2>
      </div>
      <ul>
        <div class="flex items-center justify-center gap-4 max-h-56 w-full">
          @for (item of userInfo?.photos; track $index) {
          <li *ngIf="item?.value">
            <div class="image-container w-52 h-48">
              <img class="h-full w-full object-fill" [src]="getImageUrl(item)" alt="Image1" />
            </div>
          </li>
          }
        </div>
      </ul>
    </div>
  </div>
</div>
} @else {
<div class="h-full w-full p-3 flex items-center justify-center">
  <i class="pi pi-spin pi-spinner" style="font-size: 2.5rem"></i>
</div>
}