<ion-header *ngIf="isMobile" [translucent]="true" class="md:lg:2xl:hidden ion-no-border">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-wrapper" id="contentWrapper">
    <section *ngIf="!showLaunchOfferBanner && showOfferMarqueue"
      class="py-2 offer-overlay absolute w-full z-10 bg-red-500 backdrop-blur-md min-h-10 flex items-center justify-center"
      (click)="handleRegister()">
      <!-- @for (item of marqueueCount; track $index) { -->
      <div class="w-full h-full flex items-center justify-center animate-marquee">
        <p class="w-full offer-marqueue h-full flex items-center justify-around gap-5 ">
          <span class="min-w-48 ">🎉 Special Launch Offer! 🚀</span>
          <span class="min-w-48">Register Now and Avail!</span>
          <span class="min-w-48">Original Price: <b class="line-through font-bold">&#8377; 1549</b></span>
          <span class="min-w-72">Limited Time Offer Price: <b class="font-bold">&#8377; 249/-</b> Only</span>
        </p>
      </div>
      <!-- } -->
    </section>
    <section class="video">
      <video id="videoPlayer" [autoplay]="true" [muted]="true" [loop]="true" [playsInline]="true"
        (loadeddata)="handleOnLoadData($event)">
        <source src="/assets/videos/intro.mp4" type="video/mp4">
      </video>
      <div class="overlay">
        <marquee [direction]="'left'" scrollamount="10" class="marquee-text">
          <p>हृदयात् हृदयं यावत्</p>
          <p>दिल का दिल से</p>
          <p>Heart to Heart</p>
          <p>دل سے دل كا</p>
          <p>हृदय देखि हृदय सम्म</p>
          <p>হৃদয় থেকে হৃদয়</p>
          <p>இதயம் இதயத்திற்கு</p>
          <p>హృదయం నుంచి హృదయం</p>
          <p>ಹೃದಯದಿಂದ ಹೃದಯಕ್ಕೆ</p>
          <p>ഹൃദയം ഹൃദയത്തിനേക്ക്</p>
          <p>હૃદયથી હૃદયને</p>
          <p>ਦਿਲ ਤੋਂ ਦਿਲ</p>
          <p>ହୃଦୟ ହୃଦୟ</p>
          <p>تائين دل كاندل</p>
          <p>القلب إلى القلبمن</p>
        </marquee>
      </div>
    </section>
    <div class="flat-items flex flex-col gap-3 md:gap-4 lg:xl:gap-7">
      <section>
        <div class="container search-box">
          <search-box class="w-full" />
        </div>
      </section>

      <section class="princing-section">
        <div class="container">
          <app-pricing></app-pricing>
        </div>
      </section>

      <section class="meet-members py-1 lg:xl:py-5 w-full">
        <div class="container">
          <div class="header">
            <h1 class="h1-gradient">
              Top Matches For Your Profiles
            </h1>
          </div>
          <div class="member-list-container flex items-center justify-center p-2">
            @if (profileList.length) {
            <div
              class="profiles-wrapper grid grid-cols-1 lg:grid-cols-4 xl:grid-cols-8 gap-y-4 gap-x-0 lg:gap-y-4 xl:gap-y-4 lg:gap-x-4 xl:gap-x-4 w-full md:w-[80%]">
              @for (item of profileList; track $index) {
              <div class="col-span-2">
                <carousel-item class="flex h-full" [data]="item" />
              </div>
              }
              <div
                class="_loadMore col-span-2 md:col-span-3 lg:col-span-4 xl:col-span-8 flex-grow w-full flex items-center justify-center p-3">
                <mt-button size="small" title="Load More Profiles" (action)="handleExploreProfiles()" />
              </div>
            </div>
            } @else {
            <i class=" pi pi-spin pi-spinner" style="font-size: 2rem;"></i>
            }
          </div>
        </div>
      </section>

      <section class="_register ">
        <div class="container relative col-span-2 lg:xl:py-10 flex flex-row gap-0 lg:xl:gap-4 px-3 w-full lg:xl:px-10">
          <div pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeoutleft"
            class="cta_register flex flex-col items-start justify-start gap-4 px-5 max-w-5xl mx-auto">
            <p class="about p-gradient tracking-widest uppercase">
              About Us
            </p>
            <h1 class="h1-gradient">
              Welcome to {{domain}} Matrimonial Services
            </h1>
            <p>
              Marriage, also known as matrimony or wedlock, is like a special bond that ties two people together.
              Imagine
              it
              as a magical connection where two hearts decide to walk through life side by side.
            </p>
            <p>
              Here’s what our platform offers:
            </p>
            <ol>
              <li>
                <p>Profiles with all the details, from age to education. </p>
              </li>
              <li>
                <p>Easy navigation to explore effortlessly.</p>
              </li>
              <li>
                <p>Smart profile matching with the help of advace algorithm.</p>
              </li>
              <li>
                <p>Connecting is a breeze. You can send a friendly message or even a virtual high-five.</p>
              </li>
            </ol>
            <div class="mx-auto w-full flex items-center justify-center md:lg:justify-start">
              <mt-button title="Explore Profiles" (action)="handleExploreProfiles()" />
            </div>
          </div>
          <div class="content -z-[10] flex-grow md:w-full h-[inherit]">
            <div class="bars">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </div>
            <div pAnimateOnScroll enterClass="fadeinright" leaveClass="fadeoutright" *ngIf="!isMobile"
              class="image-container">
              <img src="/assets/icon/temp_bg.jpg" class="h-full w-[88%] object-fill rounded-full" alt="Demo Image" />
            </div>
          </div>
        </div>
      </section>

      <!-- <section class="_counter flex items-center justify-center min-h-96 ">
        <div class="overlay min-h-96 w-full flex items-center justify-center backdrop-blur-lg">
          <div class="container h-full flex flex-row items-center justify-center gap-10">
            <div class="profiles text-center">
              <tm-ng-odometer class="block w-full" [number]="profileCount" [config]="config"
                [observable]="observable"></tm-ng-odometer>
              <h1>Total Profiles</h1>
            </div>
            <div class="branches text-center">
              <tm-ng-odometer class="block w-full" [number]="branchCount" [config]="config"
                [observable]="observable"></tm-ng-odometer>

              <h1>Total Branches</h1>
            </div>
          </div>
        </div>
      </section> -->

      <!-- <section class="_features flex items-center justify-center min-h-96">
      <div class="container">
          <h1>
            Why choose {{domain}}?
          </h1>
      </div>
    </section> -->


      <div class="footer">
        <app-footer></app-footer>
      </div>
    </div>
    <p-scrollTop target="parent" styleClass="custom-scrolltop" [threshold]="100" icon="pi pi-arrow-up"></p-scrollTop>
  </div>
</ion-content>

<ng-container>
  <p-dialog #sessionExpired [(visible)]="showLaunchOfferBanner" [id]="id" [closable]="true" [showHeader]="false"
    [modal]="true" [className]="'offer-dialog'" [style]="getDialogStyle()" [draggable]="true" [resizable]="false">
    <div
      class="bg-[url('/assets/gif/Special_Launch_Offer.gif')] bg-no-repeat bg-contain bg-center object-fill min-h-96 flex flex-col items-center justify-center relative w-full gap-4">
      <p class="close-icon">
        <span class="pi pi-times select-none cursor-pointer absolute top-3 right-4" (click)="closeOfferDialog()"></span>
      </p>
      <div class="action offer-section w-full flex items-center justify-end">
        <p-button label="Complete Payment" (onClick)="handleCompletePayment()" />
      </div>
    </div>
  </p-dialog>

  <p-dialog [(visible)]="showQRPopup" [className]="'offer-dialog'" [style]="getDialogStyle()">
    <ng-template pTemplate="headless">
      <div class="bg-[#21182b] min-h-96 flex flex-col items-center justify-center relative w-full gap-4 rounded-lg">
        <p class="close-icon">
          <span class="text-white pi pi-times select-none cursor-pointer absolute top-3 right-4"
            (click)="closeOfferDialog()"></span>
        </p>
        <div class="content">
          <h3 class="text-xl mb-4 text-white block text-center">Pay &#8377; 249/-</h3>
          <img class="h-60 w-48" src="/assets/image/qr.png" alt="QR">
        </div>
        <!-- <div class="action offer-section w-full flex items-center justify-end">
          <p-button label="Register Now" (onClick)="handleRegister()" />
        </div> -->
      </div>
    </ng-template>
  </p-dialog>
</ng-container>